*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Exo 2',sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}


#header{
    background-color: #333;
    width: 100vw;
    height: 8vh;
}

.nav-link{
    color: #fff;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    margin: 2rem;
}
.col{
    height: 8vh;
    width: 100%;
}

#logo{
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    width:280px;
    height: 8vh;
    display: flex;
    color: seashell;
}

.header-logo{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
}

#header-item{
 text-align: right;
 padding-top: 2rem;
 padding-right: 4rem;
 justify-content: space-between;
}

#cart{
  margin-left: 6rem;
  color: red;
  font-size: x-large;
}

#search{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 5rem;
    border: none;
    border-style: none;
    font-size: 15px;
    padding: 12px;
    color: #fff;

   

}

#search:hover,#search:focus{
    width: 25rem;
    color: #333;
}
#search-icon{
  font-size: x-large;
  margin-left: -3.3rem;

}



