*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Exo 2',sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}


#header{
    background-color: #6a89cc;
    width: 100vw;
    height: 8vh;
}

.nav-link{
    color: #fff;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    margin: 2rem;
}
.col{
    height: 8vh;
    width: 100%;
}

#logo{
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    width:280px;
    height: 8vh;
    display: flex;
    color: seashell;
}

.header-logo{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
}

#header-item{
 text-align: right;
 padding-top: 2rem;
 padding-right: 4rem;
 justify-content: space-between;
}

#cart{
  margin-left: 6rem;
  color: #ecf0f1;
  font-size: x-large;
  cursor: pointer;
}

#search{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3rem;
    border: none;
    border-style: none;
    font-size: 15px;
    padding: 12px;
    color: #fff;

   

}

#search:hover,#search:focus{
    width: 25rem;
    color: #333;
}
#search-icon{
  font-size: 19px;
  margin-left: -3.1rem;

}

.slide{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.content>h2{
    font-size: 4rem;
    color: #fff;

    padding-top: 10rem;
    padding-left: 10rem;

    
}

.content>p{
    font-size: 1.7rem;
    color: #fff;
    padding-top: 1rem;
    padding-left: 10rem;
}





.fa-star{
    color: gold;
    font-size: 1.5rem;
    padding-left: 0.2rem;
    
}
.fa-star-half-alt{
    color: gold;
    font-size: 1.5rem;
    padding-left: 0.4rem;
}
.starts{

  padding-left: 9.9rem;
  padding-top: 1rem;
}

.price{
  
    padding-left: 10rem;
    padding-top: 1rem;
    font-size: 25px;
    color: lightcyan;
}

.button{
    background-color: #e55039;
    margin-left: 10rem;
    margin-top: 1rem;
    font-size: 25px;
    color: lavender;
    border-radius: 2.5rem;
    height: 5.6rem;
    padding: 1rem;
    border: none;
   
}

img{
   
    margin-left: 110rem;
    margin-top: -40rem;
    width: 40rem;
    height: 40rem;
    width: -34rem;
    
}

#btn-shopping-cart{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link:hover{
    color: #222f3e;
    letter-spacing: 0.2rem;
}

.round{
    background-color:#ffd32a;
    height: 40rem;
    width: 40rem;
    margin-left: 117rem;
    margin-top: -20rem;
    border-radius: 70rem;
}